.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;  
    background: rgba(45,176,224,1);
    padding: 120px 0;
  }
  
  .main {
    background: #2a6bb1;
    box-shadow: 0px 2px 80px -20px rgba(0,0,0,0.5);
    width: 58%;
  }
  
  .info {
    background: url("img/info-bg.jpg") center center no-repeat;
    background-blend-mode: multiply;
    background-color: #484747;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .form {
    padding-top: 70px;
  }
  
  .info h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
  }
  
  .info p {
    color: #e4e4e4;
    font-weight: bold;
  }
   
  .error {
    color: #fff;
    font-weight: bold;
  }
